body {
  margin:0;
  background-color: rgb(222, 215, 219)
}

.nav {
  overflow: hidden;
  background-color: rgb(94, 93, 93);
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  margin: 8px 22px 8px 22px;
  
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 17px;
}


.nav a:hover {
  background-color: rgba(222, 215, 219, 0.4);
  color: black;
}

.active {
  background-color: rgb(145, 17, 92);
  color: white;
}

.nav .icon {
  display: none;
}
.nav .visible {
  display: none;
}

article{
  margin-top: 100px;
  margin-left: 22px;
  margin-right: 22px;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 15px;
}

@media screen and (max-width: 600px) {
  .nav a:not(.active) {
    display: none;
  }

  .nav a.icon {
    float: right;
    display: block;
    font-size: 14px;
    cursor: pointer;
  }

  .nav.responsive { 
    position: relative
  }

  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .entry{
    display: none;
  }

  .navigation{
    width: 100%;
  }
}